@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very_dark_gray_blue: hsl(217, 19%, 35%);
  --des_dark_blue: hsl(214, 17%, 51%);
  --gray_blue: hsl(212, 23%, 69%);
  --light_grayish_blue: hsl(210, 46%, 95%);

  --manrope: "Manrope", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--manrope);
  background-color: var(--light_grayish_blue);
  padding: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-size: 13px; */
}
h1,
h2,
h3,
h4 {
  color: var(--very_dark_gray_blue);
}
p {
  color: var(--des_dark_blue);
  font-size: 13px;
}
.container {
  max-width: 40rem;
  border-radius: 10px;
  background-color: #ffffff;
}

.drawer-pic {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
header h3 {
  margin: 2.5rem 2rem 0 2rem;
  /* margin-bottom: 0;
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-right: 2rem; */
  font-size: 1rem;
}
article p {
  margin: 1.5rem 2rem 0 2rem;
  line-height: 1.5;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* display: none; */
}
footer .avatar .avatar-image {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1.25rem;
}

section .name {
  margin: 0.75rem 0 0 0;
  position: relative;
  right: 2rem;
  font-size: 0.85rem;
  font-weight: bold;
}
section .date {
  margin: 0.5rem 0 0 0;
  position: relative;
  right: 2rem;
}
.share {
  background-color: var(--light_grayish_blue);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 1rem;
}
.share:hover {
  cursor: pointer;
}

.social {
  display: flex;
  background-color: var(--very_dark_gray_blue);
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin-top: 1rem;
  display: none;
}
.social h4 {
  color: var(--gray_blue);
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: lighter;
  margin-left: 1rem;
}
.social .social-media {
  display: flex;
  width: 6.5rem;
  justify-content: space-around;
  margin-right: 2rem;
}
.social .social-media img {
  transform: scale(0.8);
}
.social .share {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--des_dark_blue);
}
.share-icon-footer {
  width: 0.8rem;
  height: 0.8rem;
  filter: brightness(0) invert(1);
}
@media screen and (min-width: 42rem) {
  .container {
    display: flex;
    max-width: 50rem;
  }
  .left {
    display: flex;
  }
  .drawer-pic {
    display: flex;
    min-width: 20rem;
    max-height: fit-content;
    object-fit: inherit;
    border-radius: 10px 0 0 10px;
  }
  footer {
    justify-content: flex-start;
    gap: 3rem;
    margin-left: 1rem;
  }

  .share {
    margin-left: auto;
    margin-right: 2rem;
    right: 0;
  }
  header h3 {
    font-size: 1.3rem;
  }
  .social {
    /* border-radius: 0 0 10px 10px;
    width: 15rem;
    display: flex;
    position: absolute;
    left: 650px;
    bottom: 100px; */

    display: flex;
    position: absolute;
    transform: translate(-30%, -120%);
    gap: 0.9rem;
    align-items: center;
    border-radius: 10px;
    padding: 0.2rem;
    width: 30%;
    box-shadow: -1px 1px 25px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: -1px 1px 25px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -1px 1px 25px 0px rgba(0, 0, 0, 0.17);
    top: 200px;
    right: 0;
    left: 90%;
    display: none;
  }
  .social::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100px;
    border-top: 20px solid rebeccapurple;
    border-top-color: var(--very_dark_gray_blue);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .container {
    position: relative;
  }
  #share-footer {
    display: none;
  }
}
